/*
* Style tweaks
* --------------------------------------------------
*/
html,
body {
    overflow-x: hidden;
    position: relative;
	font-family: 'Poppins', sans-serif;
}
body {
    margin:0; padding:0;
}

/*menu*/
.navbar-brand {
    font-size: 20px;
    margin-left: 0 !important;
    height: auto;
}

.navbar-container {
    padding:0px 0;
}

.navbar-right{padding-top:16px;}

.navbar.navbar-fixed-top.fixed-theme {
    background-color: #222;
    border-color: #080808;
    box-shadow: 0 0 5px rgba(0,0,0,.8);
   
}

.navbar-brand.fixed-theme {
    font-size: 18px;
}

.navbar-container.fixed-theme {
    padding: 0;
}

.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container{
    transition: 0.8s;
    -webkit-transition:  0.8s;
}
#header{background:#00BFFF; position: relative;}
#header .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand}{margin-left:0 !important;}
#header .navbar-brand{color: #fff;
    font-family: "Damion",cursive;
    padding: 5px 0;
    text-align: center;}

#header .navbar-fixed-top{border:0  !important;}
#header .navbar-nav > li > a{color:#fff;}
#header .navbar-nav > li > a:hover{color:#000;}
#header .nav>li>a:focus, .nav>li>a:hover{background:#fff; color:#000;}

/*menu en*/

.free-shiping-item-box{border: 1px solid #e5e5e5;
    float: left;
    padding: 20px;
    width: 100%; box-shadow:5px 5px 0 #e5e5e5;
	transition:all 0.3s ease-in-out;
	
	}

. printing-box-information .image { 
   position: relative; 
   width: 100%; /* for IE 6 */
}


.printing-box-information h4{ 
    background-color: #00bfff;
    bottom: 0;
    color: #fff;
    left: 10%;
    margin: 0;
    padding: 14px 15px;
    position: absolute;
    text-align: center;
    width: 80%;
}
.free-shiping-item-box .text{ 
    color: #444;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    margin: 4px 0 0 10px;
    padding-top: 0;
    text-transform: uppercase;
}
.free-shiping-item-box:hover{border:1px solid #00bfff; box-shadow:none; }	
.free-shiping-item-box:hover .pull-left img{moz-animation: effect_icon 0.3s ease infinite;
    -webkit-animation: effect_icon 0.3s ease infinite;
    animation: effect_icon 0.3s ease infinite;}	
	
.free-shiping-item-box:hover .pull-left {color:#00bfff;}	
	

@keyframes effect_icon{0%{transform:rotateZ(0deg);-moz-transform:rotateZ(0deg);-webkit-transform:rotateZ(0deg)}25%{transform:rotateZ(-5deg);-moz-transform:rotateZ(-5deg);-webkit-transform:rotateZ(-5deg)}50%{transform:rotateZ(0deg);-moz-transform:rotateZ(0deg);-webkit-transform:rotateZ(0deg)}75%{transform:rotateZ(5deg);-moz-transform:rotateZ(5deg);-webkit-transform:rotateZ(5deg)}100%{transform:rotateZ(0deg);-moz-transform:rotateZ(0deg);-webkit-transform:rotateZ(0deg)}}

.btn-default.btn2 {
    background: #f09 none repeat scroll 0 0;
    border-radius: 10px;
    bottom: 30px;
    box-shadow: none;
    color: #ffffff;
    display: inline-block;
    font-size: 22px;
    font-weight: 800;
    margin: 0;
    padding: 5px 10px;
    position: absolute;
    right: 40px;
    text-decoration: none !important;
    text-shadow: none;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    z-index: 1;
}

.print-now-txt img{position: relative;}
 .track-order-txt{position: relative;}

.track-order-txt .overlay-txt{
     background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0;
    bottom: 0;
    color: #fff;
    left: 11px;
    padding: 0 5px 20px;
    position: absolute;
    right: 0;
    text-align: justify;
    width: 94.7%;   
}

.track-order-txt .overlay-txt h2{font-family: 'Open Sans', sans-serif; font-weight: 800 ; font-style: italic;}

.track-order-txt input[type=text]{border:1px solid #01aef0; color:#fff; border-radius:0px;}
.track-order-txt input[type=text]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color:#000 !important;
}
.track-order-txt input[type=text]::-moz-placeholder { /* Firefox 19+ */
  color:#000 !important;

}
.track-order-txt input[type=text]:-ms-input-placeholder { /* IE 10+ */
 color:#000 !important;

}
.track-order-txt input[type=text]:-moz-placeholder { /* Firefox 18- */
  color:#000 !important;

}

.center-align-txt{margin:auto; width:44%;}
.no-registration{position: relative;}
.no-registration .overlay-txt2{
    background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0;
    bottom: 0;
    color: #fff;
    left: 10px;
    padding: 10px 5px 5px;
    position: absolute;
    right: 0;
    text-align: justify;
    width: 94.9%;   
}
.print-now-txt h5{ 
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    bottom: 45%;
    color: #fff;
    font-size: 22px;
    left: 10%;
    padding: 10px 0;
    position: absolute;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    width: 60%;
    font-family: 'Open Sans', sans-serif; font-weight: 800 ; font-style: italic;
}

.blue-bttn{ 
     background: #F09 none repeat scroll 0 0;
    border: medium none;
    border-radius: 12px;
    color: #fff;
    font-size: 18px;
    padding: 5px 29px;
    border: 1px solid #F09;

}

 .btn-default:hover{
     border: 1px solid #F09; background:rgba(0,0,0,0.5); color:#fff;}

.m-b-30{margin-bottom:30px;}
.m-b-20{margin-bottom:20px;}

footer {
    padding: 30px 0;
    background-color:#111a20;
    
}
footer h4{border-bottom: 2px solid rgba(255, 255, 255, 0.6);
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 30px;
    padding-bottom: 10px;}
footer p{color:rgba(255,255,255,0.6); font-size:12px;}
footer p a{text-decoration:none; color:rgba(255,255,255,0.6);}
footer p a:hover{text-decoration:none; color:#fff;}
footer p .icon{
	display:inline-block;
}

footer p .icon  i{font-size:16px;
    height: 40px;
    width: 40px;
    border-radius: 40px;
    background: #fff;
    line-height: 40px;
    text-align: center;
    color: #00bfff;}
footer p .icon  i:hover {
    background: #2796bd;
    color: #fff;
}	

.copy-right{background:#000; padding:20px 0; color:rgba(255,255,255,0.6);}
.copy-right p{margin:0;}
.copy-right a{color:#000;}


/*model popup*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
   background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #888;
    color: #fff;
    margin: 15% auto;
    padding: 20px;
    text-align: center;
    width: 42%;
}

/* The Close Button */
.modal-content .close {
    color: #fff;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 1%;
    top: 0;
}

.modal-content .close:hover,
.modal-content .close:focus {
    color:#fff;
    text-decoration: none;
    cursor: pointer;
}

/*model pop en*/

/*print it now*/
 /.print-box legend {
  background: #ed7d31 none repeat scroll 0 0;
    border: 0 none;
    border-radius: 6px;
    color: #fff;
    display: block;
    line-height: inherit;
    padding: 10px;
    width: 100%;
}

.form-wrap{ width:60%; margin:auto; padding:10px;}

.print-now-form legend{color:#fff; text-transform: uppercase; font-size:14px;}

.panel-default > .panel-heading {
    background-color: #00BFFF !important;
    border-color: #fff  !important;
    color: #fff  !important;
}



.panel-body{background:#FFCC29;}




.accordion-toggle:hover {
      text-decoration: none;
    }
	
.pad{padding:0 10px;}
.no-pad-right{padding:0 0 0 10px;}	

.form-wrap 	.checkbox-inline, .radio-inline{padding-left:10px;}
.form-wrap textarea.form-control {
    height: auto;
    color: #a7a7a7;
}

.form-wrap input[type=file] {
    height: auto;
    
}

.sect-opt{color: #a7a7a7;}

.bg{background-image:url(../images/background.jpg); height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;}
	
.heading-txt-404{line-height: .9;
padding: 40px 0;
font-weight: 700;
font-size:70px;
color: #fff;
opacity: .2;
text-shadow: 1px 1px 5px rgba(0,0,0,.4);}

.heading-txt-2{color: #fff;

font-size: 22px;

text-shadow: 1px 1px 5px rgba(0,0,0,.4);}

.m-l-5{margin-left:5px;}
.form-wrap legend{
    background-color: #00bfff;
    border-color: #fff;
    color: #fff;
    font-size: 16px;
    padding: 5px 10px;
}

.user-review-page{width:600px; margin: auto; background: #00BFFF; color:#fff; padding:10px;}

.print-now-bttn{
    background-color: #000;
    border-color: #fff;
    color: #fff;
}

.print-now-bttn:hover{background: transparent; color:#fff; border:1px solid #000;}